{% extends "base.j2" %}
{% from "macros.j2" import render_post_title with context  %}
{% from "macros.j2" import render_post_meta with context  %}

{% block main %}

<h1 class="tag title">Blog posts tagged <i>{{ tag.name }}</i>:</h1>
{% for res in walker() -%}
  
  {% if loop.index < 11 %} 
  {{ render_post_meta(res) }}
  {%  elif loop.index == 11 %}
  <div class="archive">
      <h2 class="title">Older posts tagged <i>{{ tag.name }}</i>:</h2>
  {% else %}
  {{ render_post_title(res) }}
  {% endif %} 
  
  {% if loop.last %}
      {% if loop.length > 11 %}
  </div> <!-- / archive -->
      {% endif %} 
  {% endif %}
  
{%- endfor %}
{% endblock %}
